body {
    font-family: "SF Pro Display", sans-serif;
    margin: 0;
    padding: 0;
}
.child {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    /* background-color: #f0f0f0; */
    /* background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGZsb3dlcnxlbnwwfHx8fDE2OTY5NTQ1MjA&ixlib=rb-4.0.3&q=80&w=1080"); */
}
.text-container {
    margin: 0 auto;
    width: 500px;
    /* background-color: #bd2525; */
    text-align: center;
}
p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.product-card {
    width: 300px;
    height: 300px;
    margin-top: 200px;
    background-color: #dddada;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* margin-left: auto; */
    /* display: flex; */
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    /* float: right; */
    margin-right: 50px;
}
.product-card:hover {
    transform:scale(1.02);
   
}
.product-card:active {
    transform:rotate(2deg) scale(1);
}
.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
